@{Layout = "~/Views/Shared/_User.cshtml";}
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html>
<head>

    <!-- /.website title -->
    <title>Register - Khai Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS Files -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet" media="screen">
    <link href="~/Content/owl.theme.css" rel="stylesheet">
    <link href="~/Content/owl.carousel.css" rel="stylesheet">

    <!-- Colors -->
    <link href="~/Content/css-index.css" rel="stylesheet" media="screen">
    <!-- <link href="~/Content/css-index-green.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="~/Content/css-index-purple.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="~/Content/css-index-red.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="~/Content/css-index-orange.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="~/Content/css-index-yellow.css" rel="stylesheet" media="screen"> -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />

</head>
<body>
<div id="menu">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand site-name" href="#top"><img src="../../images/hailogo/logo.svg" alt="logo"></a>
            </div>

            <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                    <li><a href="@Url.Action("Login", "User")">Авторизация</a></li>

                </ul>
            </div>
        </div>
    </nav>
</div>
    <div class="container content-main" >
        <div class="row">
            <div class="col-lg-12">
                <h2 class=" wow fadeInLeft">Регистрация</h2>
            </div>
        </div>
    </div>
    <div class="container content-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper">

                    <div class="panel" style="width:400px;margin:auto;">
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="role"></label>
                                    <select class="form-control col-sm-10 fm" id="role" type="role" placeholder="" >
                                    
                                        <option>Соискатель</option>
                                        <option>Работодатель</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="fa fa-envelope col-sm-2 control-label" for="email"></label>
                                    <input class="form-control col-sm-10 fm" id="email" type="email" placeholder="Почта" />
                                </div>
                                <div class="form-group">
                                    <label class="fa fa-user col-sm-2 control-label" for="login"></label>
                                    <input class="form-control col-sm-10 fm" id="login" type="text" placeholder="Логин" />
                                </div>

                                <div class="form-group">
                                    <label class="fa fa-key col-sm-2 control-label" for="password"></label>
                                    <input class="form-control col-sm-10 fm" id="password" type="password" placeholder="Пароль" />
                                </div>
                                <div class="form-group">
                                    <label class="fa fa-key col-sm-2 control-label" for="password2"></label>
                                    <input class="form-control col-sm-10 fm" id="password2" type="password" placeholder="Повторите пароль" />
                                </div>

                                <div class="form-group col-sm-10 col-lg-offset-2 fm">
                                    <button class="button blue btn btn-default" style="font-size:18px;">Зарегистрироваться</button>

                                </div>
                            </form>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <style>
        .fm{
            margin-bottom:15px;
        }
    </style>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/jquery.sticky.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>

</body>
</html>