
<div align=center>
    <span ID="Label14" Runat="server" Text="Поиск вакансии!!!" SkinID="FormHeading"></span>
    <br />
    <span ID="lblJobCount" Runat="server" SkinID="Slogan"></span><br /><br />
</div>

<contenttemplate>
    <table style="width: 100%">
        <tr>
            <td align="right" valign="top">
                <span ID="Label1" Runat="server" Text="Навыки :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <input type="text" ID="txtSkills" Runat="server"></input>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" Runat="server"
                                            ControlToValidate="txtSkills" Display="Dynamic"
                                            ErrorMessage="Please enter skills to search for">*</asp:RequiredFieldValidator>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <span ID="Label3" Runat="server" Text="Страна :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <!--<asp:DropDownList ID="ddlCountry" Runat="server" AutoPostBack="True"
                                  OnSelectedIndexChanged="ddlCountry_SelectedIndexChanged">
                </asp:DropDownList>-->

                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <span ID="Label4" Runat="server" Text="Район :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <!--<asp:DropDownList ID="ddlState" Runat="server" AutoPostBack="True"
                                  onselectedindexchanged="ddlState_SelectedIndexChanged">
                </asp:DropDownList>-->
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">
                <span ID="Label2" Runat="server" Text="Город :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <input type="text" ID="txtCity" Runat="server" Enabled="False"></input>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" valign="top">
                <input type="image" ID="ImageButton1" runat="server"
                       ImageUrl="~/Images/SearchButton.gif" onclick="ImageButton1_Click" />
                &nbsp;<input type="image" ID="ImageButton3" runat="server"
                             ImageUrl="~/Images/MyFavorite.gif" onclick="ImageButton3_Click" />
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" valign="top">
                <span ID="lblMsg" runat="server" SkinID="FormLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" valign="top">
                <asp:ValidationSummary ID="ValidationSummary1" Runat="server" />
            </td>
        </tr>
    </table>
</contenttemplate>

<progresstemplate>
    <center>
        <img ID="Image1" runat="server" src="~/images/progress.gif" />
    </center>
</progresstemplate>

<contenttemplate>
    <asp:GridView ID="GridView1" Runat="server" AllowPaging="True"
                  AutoGenerateColumns="False" DataKeyNames="PostingID"
                  OnPageIndexChanging="GridView1_PageIndexChanging"
                  OnRowCommand="GridView1_RowCommand" OnRowDataBound="GridView1_RowDataBound"
                  PageSize="3" Width="100%">
        <columns>
            <asp:templatefield HeaderText="Date">

                <edititemtemplate>
                    <input type="text" ID="TextBox1" runat="server" Text='<%# Bind("PostingDate") %>'>
                </edititemtemplate>

                <itemtemplate>
                    <span ID="Label1" runat="server"
                          Text='<%# Bind("PostingDate", "{0:MM/dd/yyyy}") %>'></span>
                </itemtemplate>

            </asp:templatefield>
            <asp:boundfield DataField="Title" HeaderText="Название" SortExpression="title">
            </asp:boundfield>
            <asp:boundfield DataField="City" HeaderText="Месторасположение" SortExpression="city">
            </asp:boundfield>
            <asp:boundfield DataField="companyname" HeaderText="Компания" ShowHeader="False"
                            SortExpression="companyname">
            </asp:boundfield>
            <asp:buttonfield CommandName="viewdetails" ButtonType="Image"
                             ImageUrl="~/Images/ShowDetails.gif">
                <itemstyle wrap="False" />
            </asp:buttonfield>
        </columns>
    </asp:GridView>
</contenttemplate>
<br />