@{Layout = "~/Views/Shared/_Student.cshtml";}
@{
    ViewBag.Title = "Поиск вакансий";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">
            
            
            <div class="input-group"><input type="text" class="form-control" placeholder="Введите ключевые слова" /><span class="input-group-btn"><button class="btn ">Поиск</button></span></div>


            <h1 class="alljobs">Все вакансии:</h1>


            <table>
                <tr>
                    <td class="job-item">
                        <a href="#" class="namejob">Junior + PHP developer</a>
                        <a href="#" class="companyjob"><h4>BINTIME</h4></a>
                        <div class="location"><i class="fa fa-globe"></i> Харьков</div>
                        <div class="descrjob">We are product driven IT company with the focus on e-commerce & data transformation and syndication.
We are looking for enthusiasts who passionate about a modern technological stack, large datasets processing and efficient algorithms for product-oriented environments.</div>
                        <div class="pull-right">14.11.2017</div>
                    </td>
                </tr>
                <tr>
                    <td class="job-item">
                        <a href="#" class="namejob">Junior .NET developer</a>
                        <a href="#" class="companyjob"><h4>LuckyWare Pro</h4></a>
                        <div class="location"><i class="fa fa-globe"></i> Харьков</div>
                        <div>LuckyWare Pro company works with well-known Companies from Germany, Switzerland, UK, US, and Canada. We are looking for a smart, hard working and self-motivated PHP developer to work on interesting projects!...</div>
                    </td>
                </tr>
                <tr>
                    <td class="job-item">
                        <a href="#" class="namejob">Junior Java developer</a>
                        <a href="#" class="companyjob"><h4>AgileEngine</h4></a>
                        <div class="location"><i class="fa fa-globe"></i> Харьков</div>
                        <div>We are changing the way web UI testing is done and we think we are on to something very special. If you are not happy with a status quo, if you like to invent and find creative solutions...</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3">
            <div style="margin:15px;">
                <div class="fitltr">Фильтр</div>
                <form class="">
                    <div class="form-group">
                        Рубрика
                        <select class="form-control">
                            <option></option>
                            <option>IT</option>
                            <option>Недвижимость</option>
                            <option>Наука</option>

                        </select>
                    </div>
                        
                    <div class="form-group">
                        Вид занятости
                        <select class="form-control">
                            <option>Полная</option>
                            <option>Неполная</option>
                            <option>Стажировка</option>
                            <option>Удаленная</option>
                            <option>Проектная работа</option>

                        </select>
                    </div>
                    
                    <div class="form-group">
                        Уровень зпроботной платы (грн)
                        от <input class="form-control" name="salary" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block">Поиск</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
