@{Layout = "~/Views/Shared/_Student.cshtml";}
@{
    ViewBag.Title = "Изборанные вакансии";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-md-12">
           <div><h2>Мои избранные вакансии</h2></div>
            <div>
                <div class="favitem">
                    <i class="fa fa-close" style="color:red;"></i>&nbsp;<a href="#">Junior Java Developer</a>
                </div>
                <div class="favitem">
                    <i class="fa fa-close" style="color:red;"></i>&nbsp;<a href="#">Junior PHP Developer</a>
                </div>
                <div class="favitem">
                    <i class="fa fa-close" style="color:red;"></i>&nbsp;<a href="#">Trainee Unity Developer</a>
                </div>
            </div>


        </div>
    </div>
</div>