@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align=center>
    <span id="Label14"  Text="Разместить резюме"></span>
</div>
<br />

<contenttemplate>
    <table  cellpadding="3">
        <tr>
            <td align="left" colspan="2" class="dataentryformlabelbig">
                <span id="Label15"  
                           Text="Работа/должность"></span>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label1"  Text="Наименование :"></span>
            </td>
            <td align="left">
                <input type="text" id="txtJobTitle" ></input>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label6"  Text="Желаемый тип работы :"></span>
            </td>
            <td align="left">
                <select id="ddlJobType" ></select>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" class="dataentryformlabelbig">
                <span id="Label16"  Text="Месторасположение"></span>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label2"  Text="Город :"></span>
            </td>
            <td align="left">
                <input type="text" id="txtCity" ></input>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label3"  Text="Страна :"></span>
            </td>
            <td align="left">
                <select id="ddlCountry"  AutoPostBack="True"
                        OnSelectedIndexChanged="ddlCountry_SelectedIndexChanged"></select>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label4"  Text="Район :"></span>
            </td>
            <td align="left">
                <select id="ddlState" ></select>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label5"  Text="Приемлем переезд :"></span>
            </td>
            <td align="left">
                <select id="ddlRelocationCountry" ></select>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" class="dataentryformlabelbig">
                <span id="Label17"  
                      Text="Образование и опыт"></span>
                &nbsp;&nbsp;
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label7"  Text="Образование :"></span>
            </td>
            <td align="left">
                <select id="ddlEduLevel" ></select>
            </td>
        </tr>
        <tr>
            <td align="right" nowrap width="10%">
                <span id="Label8"  Text="Опыт :"></span>
            </td>
            <td align="left">
                <select id="ddlExpLevel" ></select>
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" class="dataentryformlabelbig">
                <span id="Label9"  Text="Описание (резюме) :"></span>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2" valign="top">
                &nbsp;<input type="text" id="txtResume"  Rows="15" TextMode="MultiLine"
                             Width="98%">
                <br />
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2" valign="top" class="dataentryformlabelbig">
                <span id="Label10"  
                      Text="Шаблон письма :"></span>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2" valign="top">
                &nbsp;<input type="text" id="txtCoveringLetter"  Rows="15"
                             TextMode="MultiLine" Width="98%">
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" width="10%">
                <input type="image" id="ImageButton1" 
                       ImageUrl="~/Images/SaveButton.gif" onclick="ImageButton1_Click" />
                &nbsp;<input type="image" id="ImageButton2" 
                             ImageUrl="~/Images/CancelButton.gif" onclick="ImageButton2_Click" />
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" width="10%">
                <span id="lblMsg"  ></span>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" width="10%"></td>
        </tr>
    </table>
</contenttemplate>
<progresstemplate>
    <center>
        <img id="Image1"  ImageUrl="~/images/progress.gif" />
    </center>

    <br />

    &nbsp;
    <br />
    &nbsp;
