<div style="text-align: center">
    <div align="center">
        <span ID="Label14"  Text="Просмотр вакансий" SkinID="FormHeading"></span>
    </div>
    <br />
    <table style="width: 100%" cellpadding="3">
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label16"  Text="Контактные данные" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label1"  Text="Компания :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblCompany"  Text="Label"></span>
                <asp:LinkButton ID="btnViewProfile" >[View Profile]</asp:LinkButton>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label2"  Text="Контактное лицо :"
                      SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblContactPerson"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label17"  Text="О вакансии" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label3"  Text="Наименование :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblTitle"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap valign="top">
                <span ID="Label13"  Text="Описание :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblDesc"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label9"  Text="Тип работы :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblJobType"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label4"  Text="Подразделение :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblDept"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label5"  Text="Код вакансии :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblJobCode"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label10"  Text="Образование :"
                      SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblEduLevel"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label18"  Text="Месторасположение" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label6"  Text="Город :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblCity"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label7"  Text="Район :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblState"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label8"  Text="Страна :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblCountry"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label19"  Text="Информация о зарплате" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label11"  Text="Мин. зарплата :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblMinSal"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label12"  Text="Макс. зарплата :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblMaxSal"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%"></td>
            <td align="left"></td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label15"  Text="Дата вакансии :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblPostDt"  Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="center" width="20%" nowrap colspan="2">
                <input tupe="image" ID="ImageButton1" 
                       ImageUrl="~/Images/BackButton.gif" onclick="ImageButton1_Click" />
                &nbsp;&nbsp;<input tupe="image" ID="ImageButton2" 
                                   ImageUrl="~/Images/MyFavorite.gif" onclick="ImageButton2_Click" />
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <div align="left">
        <asp:Panel ID="Panel1"  SkinID="CompanyProfilePanel">
            <span ID="Label20"  Text=""></span>
            <br />
            <div align="right" width="100%">
                <button ID="LinkButton1"  Font-Bold="True">Закрыть</button>
            </div>
        </asp:Panel>
    </div>
    <br />
    <br /><br />
</div>