<div style="text-align: center">
    <div align="center">
        <span ID="Label14" Runat="server" Text="Просмотр вакансий" SkinID="FormHeading"></span>
    </div>
    <br />
    <table style="width: 100%" cellpadding="3">
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label16" Runat="server" Text="Контактные данные" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label1" Runat="server" Text="Компания :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblCompany" Runat="server" Text="Label"></span>
                <asp:LinkButton ID="btnViewProfile" runat="server">[View Profile]</asp:LinkButton>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label2" Runat="server" Text="Контактное лицо :"
                      SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblContactPerson" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label17" Runat="server" Text="О вакансии" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label3" Runat="server" Text="Наименование :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblTitle" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap valign="top">
                <span ID="Label13" Runat="server" Text="Описание :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblDesc" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label9" Runat="server" Text="Тип работы :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblJobType" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label4" Runat="server" Text="Подразделение :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblDept" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label5" Runat="server" Text="Код вакансии :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblJobCode" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label10" Runat="server" Text="Образование :"
                      SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblEduLevel" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label18" Runat="server" Text="Месторасположение" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label6" Runat="server" Text="Город :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblCity" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label7" Runat="server" Text="Район :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblState" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label8" Runat="server" Text="Страна :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblCountry" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="left" width="20%" colspan="2" class="dataentryformlabelbig">
                <span ID="Label19" Runat="server" Text="Информация о зарплате" SkinID="FormGroupLabel"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label11" Runat="server" Text="Мин. зарплата :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblMinSal" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label12" Runat="server" Text="Макс. зарплата :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblMaxSal" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="right" width="20%"></td>
            <td align="left"></td>
        </tr>
        <tr>
            <td align="right" width="20%" nowrap>
                <span ID="Label15" Runat="server" Text="Дата вакансии :" SkinID="FormLabel"></span>
            </td>
            <td align="left">
                <span ID="lblPostDt" Runat="server" Text="Label"></span>
            </td>
        </tr>
        <tr>
            <td align="center" width="20%" nowrap colspan="2">
                <input tupe="image" ID="ImageButton1" runat="server"
                       ImageUrl="~/Images/BackButton.gif" onclick="ImageButton1_Click" />
                &nbsp;&nbsp;<input tupe="image" ID="ImageButton2" runat="server"
                                   ImageUrl="~/Images/MyFavorite.gif" onclick="ImageButton2_Click" />
            </td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <div align="left">
        <asp:Panel ID="Panel1" runat="server" SkinID="CompanyProfilePanel">
            <span ID="Label20" runat="server" Text=""></span>
            <br />
            <div align="right" width="100%">
                <button ID="LinkButton1" runat="server" Font-Bold="True">Закрыть</button>
            </div>
        </asp:Panel>
    </div>
    <br />
    <br /><br />
</div>