@{Layout = "~/Views/Shared/_Student.cshtml";}
@{
    ViewBag.Title = "Просмотр вакансии";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">

            <h3 class="alljobs">Middle .NET Engineer (Back-end)</h3>

            <div>Опубликовано 14 ноября 2017</div>

            <div class="contactsblock">
                <div><i class="fa fa-map-marker"></i> Харьков</div>
                <div><i class="fa fa-user"></i> Иван Иванович</div>
                <div><i class="fa fa-phone"></i> 380951234567</div>
                <div><i class="fa fa-globe"></i> <a href="#">sitecompany.com</a></div>
            </div>

            <hr />

            <div>
                Требуемый уровень образования : <b>Полное высшее</b>
            </div>
            <hr />
            <div>
                Описание вакансии</br>
                We're currently forming a team for developing a large financial system. The product team will consist of several dozen specialists who are responsible for the development of the product, analysis of user experience, creation of the calculation algorithms, interactions with clients, and the quality and reliability of the product.
                </br>
                The specialists in this project must possess excellent software development skills, basic knowledge of the structure of investment institutions, understanding of terminology, and the ability to effectively interact with the team in order to incorporate and implement solutions.
            </div>
            <hr />
            <div>
                Требуемые навыки:
                
            </div>
            <div>
                <span class="badge badge-light">.NET</span>
                <span class="badge badge-light">ООП</span>
                <span class="badge badge-light">MVC</span>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
