@{Layout = "~/Views/Shared/_Student.cshtml";}
@{
    ViewBag.Title = "Просмотр вакансии";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">

            <h3 class="alljobs">Название вакансии</h3>

            <div>Опубликовано 14 ноября 2017</div>

            <div class="contactsblock">
                <div><i class="fa fa-map-marker"></i> Харьков</div>
                <div><i class="fa fa-user"></i> Иван Иванович</div>
                <div><i class="fa fa-phone"></i> 380951234567</div>
                <div><i class="fa fa-globe"></i> <a href="#">sitecompany.com</a></div>
            </div>

            <hr />

            <div>
                Требуемый уровень образования : <b>Полное высшее</b>
            </div>
            <hr />
            <div>
                Описание вакансии

            </div>
            <hr />
            <div>
                Требуемые навыки:
                
            </div>
            <div>
                <span class="badge badge-light">.NET</span>
                <span class="badge badge-light">ООП</span>
                <span class="badge badge-light">MVC</span>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
