
@{Layout = "~/Views/Shared/_Teacher.cshtml";}
@{
    ViewBag.Title = "Просмотр Профиля";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-12">

            <h3 class="profile">Профиль преподавателя</h3>

            <p>
                Имя : 
            </p>
            <p>
                Фамилия : 
            </p>
            <p>
                Email : 
            </p>
            <p>
                Телефон : 
            </p>

        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
<link href="~/Content/competition.css" rel="stylesheet" />
<link href="~/Content/conf-comp.css" rel="stylesheet" />


<style>

</style>