td.skill-remove {
    width: 20px;
    padding-right: 5px;
    padding-left: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skill-remove > a {
    color: #ddd;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 2px;
    top: -3px;
}

    .skill-remove > a:hover {
        color: #eb0505;
    }

.skill_name {
    font-size: 18px;
}

.btn-fix {
    margin: 0px auto;
    height: 100%;
    padding: 5px 10px;
}

.input-gr-add {
    max-width: 320px;
}
