.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.confirm-other {
    color: blue;
}

.confirm-i {
    color: limegreen;
}

.whoconf {
    line-height: 1;
    visibility: hidden;
    width: 210px;
    min-width: 210px;
    max-width: 600px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    margin-left: -3px;
    opacity: 0;
    transition: opacity 0.6s;
    z-index: 9999;
    transform: rotate(0deg);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
 .whoconf:hover {
    /*visibility: visible;*/
    /*opacity: 1;*/
    overflow: auto;
    width: auto;
    height:auto;
}
