@{Layout = "~/Views/Shared/_Company.cshtml";}
<div class="container content-main">
    <div class="row">
        <div class="col-md-12">
           <div><h3>Добавление вакансии</h3></div>
            <div>
                <form class="form" action="#" method="post">
                    <div class="form-group">
                        <label for="title">Название вакансии</label>
                        <input type="text" class="form-control" name="title" id="title"/>
                    </div>

                    <div class="form-group">
                        <label for="contactperson">Контактное лицо</label>
                        <input type="text" class="form-control" name="contactperson" id="contactperson" />
                    </div>

                    <div class="form-group">
                        <label for="numberphone">Номер телефона</label>
                        <input class="form-control" name="numberphone" id="numberphone" />
                    </div>

                    <div class="form-group">
                        <label for="typejob">Тип занятости</label>
                        <select class="form-control" name="typejob" id="typejob">
                            <option>Полная</option>
                            <option>Неполный день</option>
                            <option>Удаленная</option>
                            <option>Стажировка</option> 
                        </select>
                    </div>

                    <div class="form-group">
                        <label class=" control-label" for="levelEducation">Уровень образования</label>
                        <select class="form-control " id="levelEducation" name="levelEducation">

                            <option>Неполное высшее</option>
                            <option>Полное высшее</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description">Описание вакансии</label>
                        <textarea class="form-control" rows="15" name="description" id="description" ></textarea>
                    </div>

                    <button class="btn btn-primary">Сохранить</button>
                    <button class="btn btn-default">Отменить</button>

                </form>
            </div>
        </div>
    </div>

</div>