    <div style="text-align: center">
        <div align="center">
            <span ID="Label14"  Text="Добавить/редактировать вакансию" SkinID="FormHeading"></span>
        </div>
        <br />
        <asp:HyperLink ID="HyperLink2" 
                       NavigateUrl="~/employer/jobpostings.aspx" ImageUrl="~/Images/JobPostings.gif"></asp:HyperLink><br />
        <span ID="Label6"  Text="все поля обязательные"></span>
        <br />
        <br />
        <asp:UpdateProgress ID="UpdateProgress1" 
                            AssociatedUpdatePanelID="UpdatePanel1">
            <progresstemplate>
                <img ID="Image1"  ImageUrl="~/images/progress.gif" />
            </progresstemplate>
        </asp:UpdateProgress>
        <br />
        <br />
        <hr ID="HyperLink1"  NavigateUrl="~/employer/jobpostings.aspx">Перейти на страницу с вакансиями</hr>
        <br />
        <br />
        <asp:ObjectDataSource ID="ObjectDataSource1"  TypeName="JobSiteStarterKit.BOL.JobPosting"
                              DeleteMethod="Delete" InsertMethod="Insert" SelectMethod="GetPosting" UpdateMethod="Update"
                              DataObjectTypeName="JobSiteStarterKit.BOL.JobPosting">
            <DeleteParameters>
                <asp:Parameter Name="original_JobPostingID" Type="Int32" />
            </DeleteParameters>
            <SelectParameters>
                <asp:QueryStringParameter Name="id" QueryStringField="id" Type="Int32"></asp:QueryStringParameter>
            </SelectParameters>
        </asp:ObjectDataSource><br />
        <asp:ObjectDataSource ID="ObjectDataSource2"  TypeName="JobSiteStarterKit.BOL.State"
                              SelectMethod="GetStates">
            <SelectParameters>
                <asp:Parameter Type="Int32" Name="countryid"></asp:Parameter>
            </SelectParameters>
        </asp:ObjectDataSource>
        <asp:ObjectDataSource ID="ObjectDataSource3"  TypeName="JobSiteStarterKit.BOL.Country"
                              SelectMethod="SelectCountries">
        </asp:ObjectDataSource>
        <asp:ObjectDataSource ID="ObjectDataSource4"  SelectMethod="GetEducationLevels" TypeName="JobSiteStarterKit.BOL.EducationLevel">
        </asp:ObjectDataSource>
        <asp:ObjectDataSource ID="ObjectDataSource5"  SelectMethod="GetJobTypes" TypeName="JobSiteStarterKit.BOL.JobType">
        </asp:ObjectDataSource>

    </div>
