@{Layout = "~/Views/Shared/_Company.cshtml";}
<div class="container content-main">
    <div>
        <h2>Изменить профиль вашей компании</h2>
    </div>

    <form class="" action="" method="post">
        <div class="form-group">
            <label for="title">Имя компании</label>
            <input type="text" class="form-control" name="title" id="title" />
        </div>

        <div class="form-group">
            <label for="shortdescr">Краткий профиль</label>
            <input type="text" class="form-control" name="shortdescr" id="shortdescr" />
        </div>

        <div class="form-group">
            <label for="urAdress">Юридический адрес</label>
            <input type="text" class="form-control" name="urAdress" id="urAdress" />
        </div>

        <div class="form-group">
            <label for="fizAdress">Физический адрес</label>
            <input type="text" class="form-control" name="fizAdress" id="fizAdress" />
        </div>

        <div class="form-group">
            <label for="city">Город</label>
            <input type="text" class="form-control" name="city" id="city" />
        </div>

        <div class="form-group">
            <label for="numberPhone">Телефон</label>
            <input type="text" class="form-control" name="numberPhone" id="numberPhone" />
        </div>

        <div class="form-group">
            <label for="faks">Факс</label>
            <input type="text" class="form-control" name="faks" id="faks" />
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" name="Email" id="Email" />
        </div>
        <div class="form-group">
            <label for="site">Web-сайт</label>
            <input type="text" class="form-control" name="site" id="site" />
        </div>
        <button class="btn-primary btn">Сохранить</button>
        <button class="btn-default btn">Отменить</button>
    </form>


</div>