@{Layout = "~/Views/Shared/_Manager.cshtml";}
@{
    ViewBag.Title = "Index";
}

<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-12 ">
            


        </div>
    </div>
</div>
