@{Layout = "~/Views/Shared/_Manager.cshtml";}
@{
    ViewBag.Title = "Просмотр Резюме";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">

            <h3 class="alljobs">Название Резюме</h3>

            <div>Опубликовано 14 ноября 2017</div>

            <div class="contactsblock">
                <div><i class="fa fa-map-marker"></i> Харьков</div>
                <div><i class="fa fa-user"></i> Иван Иванович</div>
                <div><i class="fa fa-phone"></i> 380951234567</div>

            </div>

            <hr />

            <div>
                Тип работы : <b>Полная занятость</b>
            </div>

            
            <div>
                Возможность переезда : <b>Да</b>
            </div>
            <div>
                Уровень образования : <b>Полное высшее</b>
            </div>
            <div>
                Опыт : <b>1 год</b>
            </div>
            <hr />
            
            <div>
                Навыки:

            </div>
            <div>
                <span class="badge badge-light">.NET</span>
                <span class="badge badge-light">ООП</span>
                <span class="badge badge-light">MVC</span>
            </div>
            <div>
                Знания:

            </div>
            <div>
                <span class="badge badge-light">Теория баз данных</span>
                <span class="badge badge-light">Компьютерное проектирование</span>
                
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
